<?xml version="1.0"?>
<launch>
	<include file="$(find cr_control)/launch/cr_control.launch"/>
	<include file="$(find cr_control)/launch/servo.launch"/>
	<include file="$(find cr_control)/launch/joy.launch"/>
	<include file="$(find cr_control)/launch/light.launch"/>
	<include file="$(find cr_control)/launch/gps.launch"/>
</launch>
